.main{
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fff;
  line-height: 80%;
}
.desc{
  font-size: 120px;
  font-weight: 900;
  text-transform: uppercase;
}
.text{
  width: 500px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.lists{
  position: absolute;
  top: -150px;
  right: 80px;
  width: 500px;
  z-index: 1;
}
.miska{
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  transform: rotate(-30deg);
  z-index: 0;
}
.circle{
  position: absolute;
  top: 140px;
  left: 645px;
}