.main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back{
  padding: 20px;
  border-radius: 30px;
  background-color: #DBDAD6;
  width: 50vw;
}
.title{
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  line-height: 80%;
}
.desc{
  font-size: 120px;
  font-weight: 900;
  text-transform: uppercase;
}
.text{
  width: 500px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.lists{
  position: absolute;
  top: -150px;
  right: 80px;
  width: 500px;
  z-index: 1;
}
.miska{
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  transform: rotate(-30deg);
  z-index: 0;
}
.circle{
  position: absolute;
  top: 140px;
  left: 645px;
}