.block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text{ 
  height: 60vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 40px;
  text-align: center;
  width: 400px;
  color: #476042;
}

.image{
  position: absolute;
  width: 30vw;
  z-index: 2;
}
.image2{
  position: absolute;
  width: 30vw;
  right: 0;
  z-index: 2;
}
