.section{
  position: relative;
  overflow: hidden;

}
.top{
  display: flex;
  justify-content: space-between;
}
.title{
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  width: 37vw;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3vw;
}

.images{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.image{
  border-radius: 30px;
  width: 18vw;
}
.imageTop{
  border-radius: 30px;
  width: 37vw;
  height: 250px;
  object-fit: cover;
}

.block{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}
.text{
  padding: 45px 20px;

  border-radius: 30px;
  width: 100%;
}
.text:nth-child(2){
  background-color: #FFB800;
  border-color: transparent;
}