.item{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 24vw;
  height: 200px;
  border-radius: 30px;
 border: 1px solid #000;
}
.image{
  position: absolute;
  width: 250px;
  left: -35px;
}
.btn{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.info{
  padding-right: 10px;
  display: flex;
  flex-direction: column;
   text-align: center;
   gap: 10px;
}
.name{
  font-weight: 800;
  font-size: 28px;
}

.price{
 font-size: 20px;
}
.buy{
  position: relative;
  padding: 10px;

}
