.assortiment{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.about{
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
  border: 1px solid #000;
  border-radius: 30px;
}
.text{
  display: flex;
  gap: 15px;
}
.properties{
  width: 100px;
  font-weight: 500;
}
.description{
  width: 70%;
}
.imageChange{
  width: 100px;
  height: 100px;
}