.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation{
  padding: 15px 0;
  border: 1px solid #000;
  border-radius: 30px;
  display: flex;
  gap: 3vw;
}
.item{
  padding: 15px 30px;
}
.cart{
  position: relative;
  padding: 15px;
  border-radius: 100%;
}
.counter{
  position: absolute;
  padding-left: 6px;
  width: 23px;
  height: 23px;
  right: 15px;
  bottom: 15px;
  background-color: #F6F9EF;
  border: 2px solid #000;
  font-size: 14px;
  font-weight: 800;
  border-radius: 100%;

}
