.footer{ 
  height: 143px;
 background: #000;
}
.block{
  display: flex;
}
.info{
  width: 200px;
}
.item{
   color: #fff;
}
.social{
  width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
}
