@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  color:#000;
}

body{  
background-color: #fff;
}
button{
  max-width: 250px;
  padding: 15px 30px;
  border-radius: 30px;
  border: 2px solid #FFB800;
  background-color: #FFB800;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;  
  transition: all .2s ease;
}
button:hover{
  background-color: #fff;
}
button:active{
  transform: scale(1.1);
}
h2{
  font-size: 30px;
  font-weight: 900;
  
}
svg {
  height: 100%;
}
.container{
  margin: 0 auto;
  padding: 20px 30px;
  width: 80vw; 

}
.about{
  display: flex;
  justify-content: center;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.active{
 color: #fff;
 background-color: #000;
 border-radius: 30px;
}
